body {
    color: #333;
    background: #fff;
    font: 16px/1.67 inter, "Roboto Condensed", "Helvetica Neue", "Helvetica", sans-serif;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar-cbd {margin-bottom: 0;}
.navbar-cbd img {height: 18px;}
.navbar-cbd  {min-height: 30px; padding-top:3px;}
.navbar-cbd  a {color:#999;    text-shadow: 0 1px 0 rgba(255,255,255,.25); }
.navbar-cbd  a:hover {text-decoration:none; cursor:pointer;}
.navbar-cbd  ul {margin:0;padding:0;}
.navbar-cbd .navlist li {display:inline;margin:0;padding:0;}
.navbar-cbd .navlist li > a {color:#666;padding-left: 20px; font-size: 14px;}

.row-absch {padding:20px 0 0 0; margin:0; height:140px;vertical-align: middle;}
.row-absch h1 {font-size:21px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.row-absch .color-absch {color:#069554;text-decoration:none ;}
.row-absch .row-chm-links  {padding-left:0;margin-left:0;}
.row-absch .row-chm-logo {padding-left: 0;}
.row-absch .row-chm-logo {height: 80px;}
.row-absch .row-chm-logo img{height:40px;position: relative;top:-5px;margin-right:5px;}
.row-absch .row-chm-logo a{text-decoration: none; }
.row-absch .row-chm-links ul {float: right;}
.row-absch .row-chm-links  {padding-right:0;margin-right:0;}
.row-absch .navbar-nav>li>a {float:right;height: 80px;padding-top: 30px; color:#111;font-size:16px;}


.row-bch {padding:20px 0 0 0; margin:0; height:140px;vertical-align: middle;}
.row-bch h1 {font-size:21px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.row-bch .color-bch {color:#428bca;text-decoration:none ;}
.row-bch .row-chm-links  {padding-left:0;margin-left:0;}
.row-bch .row-chm-logo {padding-left: 0;}
.row-bch .row-chm-logo {height: 80px;}
.row-bch .row-chm-logo img{height:40px;position: relative;top:-5px;margin-right:5px;}
.row-bch .row-chm-logo a{text-decoration: none; }
.row-bch .row-chm-links ul {float: right;}
.row-bch .row-chm-links  {padding-right:0;margin-right:0;}
.row-bch .navbar-nav>li>a {float:right;height: 80px;padding-top: 30px; color:#111;font-size:16px;}



.navbar-breadcrumbs {min-height: 0;margin: 0;border-bottom: 1px solid #eee; }
.navbar-breadcrumbs a {font-size: 12px;}
.navbar-breadcrumbs .breadcrumb{background: #FFF; padding: 0; margin: 0;}
.chm-content {margin-top:30px;margin-bottom:30px;min-height: 600px;}

footer{border-top:1px solid #ddd;padding-top:30px;background-color: #EEE;}
footer a{color:#777;}

.temp {background-color: #ddd;}

/* bootstrap */
.btn {background-image: none;}
